<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdasdasdsa</title>
</head>
<body>
    <form action="/main" method="post">
        I      D<input type="text" name="id">
        PASSWORD<input type="password" name="password">
        <button name="main" type="submit">로그인</button>
        <a name="join" href="/join">회원가입</a>
        <div>asdasdasdasdasdasd</div>
    </form>
    <div></div>
</body>
</html>